<%- include('../partials/header'); %>

<div id="page-home">
    <div id="homepage-cover">
        <div class="container">
            <h1>My Map supposed to<br />be here</h1>
            <div id="map"></div>
            <p><%=  %></p>
            <button type="button" class="btn btn-light">
                Search for Carpark here
            </button>
            <ul>
                <li>Render list from DB here</li>
                <li>CP 1</li>
                <li>CP 2</li>
                <li>CP 3</li>
            </ul>
        </div>
    </div>
</div>

<!-- <%- include('../partials/footer'); %> -->