<%- include('../partials/header'); %>

<div id="page-profile">
    <div class="container my-5">
        <h3>User Information Here</h3>
        <p>Contributed carparks</p>
        <p>Total Upvotes</p>
        <p>Need to render query param, and in profile.ejs. Check DB for user and display info</p>
    </div>
</div>

<%- include('../partials/footer'); %>